<!DOCTYPE html>
<html>
  <head>
    <title>WorkReal</title>
    <%= csrf_meta_tags %>
    <link rel='shortcut icon' href='../../assets/images/logo.png' type='image/x-icon'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
